# Uczenie maszynowe
### Titanic: Machine Learning From Disaster

 W ramach projektu z uczenia maszynowego wykonałem konukrs na platformie Keggle dostępny pod adresem https://www.kaggle.com/c/titanic/overview. 

 #### Wykonane kroki:
 1. Konfiguracja środowiska - 
 pierwszym krokiem było ściągnięcie oraz załadowanie dostępnych plików treningowych i testowych oraz instalacja potrzebnych biblotek.

In [9]:

#Importowanie bibliotek
import pandas as pd

import io
from google.colab import files
uploaded = files.upload()

Saving titanic_train.csv to titanic_train (2).csv

2. Wczytanie pliku treningowego do zmiennej `trening`

In [10]:

titanic_trening = io.BytesIO(uploaded['titanic_train.csv']) #lokalizacja pliku
trening = pd.read_csv(titanic_trening)                      #wczytanie zmeinnej do pliku

3. Wyświetlenie zawrtości danych treningowych w celu podejrzenia ich zawartości.

In [11]:
trening.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

4. Sprawdzenie czy dane są kompletne

In [15]:
trening.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

5. Wyświetlenie ifnormacji o danych

In [18]:
trening.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

6. Uzupełnienie braków w danych - wiek i opłatę średnią, zaokrętowanie - S i zweryfikowano brakujące informacje

In [16]:
trening["Age"].fillna(trening.Age.mean(), inplace=True)
trening["Fare"].fillna(trening.Fare.mean(), inplace=True)
trening["Embarked"].fillna("S", inplace=True)
trening.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

7. Wybranie interesujących nas danych oraz zamiana zmiennych na kompatybilny format

In [111]:
x_trening = trening[['Pclass', 'Sex', 'Age', 'Fare', 'Embarked', 'Parch', 'SibSp']]

x_trening['Sex'] = x_trening['Sex'].replace('male', 1)
x_trening['Sex'] = x_trening['Sex'].replace('female', 0)
x_trening['Embarked'] = x_trening['Embarked'].replace('Q', 2)
x_trening['Embarked'] = x_trening['Embarked'].replace('C', 1)
x_trening['Embarked'] = x_trening['Embarked'].replace('S', 0)
x_trening.head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   Pclass  Sex   Age     Fare  Embarked  Parch  SibSp
0       3    1  22.0   7.2500         0      0      1
1       1    0  38.0  71.2833         1      0      1
2       3    0  26.0   7.9250         0      0      0
3       1    0  35.0  53.1000         0      0      1
4       3    1  35.0   8.0500         0      0      0

In [112]:
y_trening = trening[['Survived']]
y_trening.head(5)

   Survived
0         0
1         1
2         1
3         1
4         0

8. Import biblotek różnych modeli uczenia maszynowego oraz stworzenie modeli w celu porównania skuteczności

In [113]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
titanic_model_decision_tree = DecisionTreeRegressor(random_state = 1)
titanic_model_tree_classifier = DecisionTreeClassifier(random_state = 1)
titanic_model_svc = SVC(random_state = 1)
titanic_model_neighbors = KNeighborsClassifier(5)

9. podzielenie zbioru danych na pół

In [114]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(x_trening, y_trening, random_state = 1)

10. Dopasowanie modelu do danych

In [115]:
titanic_model_decision_tree.fit(train_X, train_y)
titanic_model_tree_classifier.fit(train_X, train_y)
titanic_model_svc.fit(train_X, train_y)
titanic_model_neighbors.fit(train_X, train_y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

11. Weryfikacja który model działa najlepiej - import bibloteki do wyliczania błędu, następnie wyliczenie wartości na podstawie wartości z tabeli oraz przewidziane przez kolejne algorytmy, finalne wyświetlenie danych

In [116]:
from sklearn.metrics import mean_absolute_error

val_mea_decision_tree = mean_absolute_error(val_y, titanic_model_decision_tree.predict(val_X))
val_mea_tree_classifier = mean_absolute_error(val_y, titanic_model_tree_classifier.predict(val_X))
val_mea_svc = mean_absolute_error(val_y, titanic_model_svc.predict(val_X))
val_mea_neighbors = mean_absolute_error(val_y, titanic_model_neighbors.predict(val_X))

print("Błęd bezwzględny:")
print("DecisionTreeRegressor: ",val_mea_decision_tree)
print("DecisionTreeClassifier: ",val_mea_tree_classifier)
print("SVC: ",val_mea_svc)
print("KNeighborsClassifier: ",val_mea_neighbors)

Błęd bezwzględny:
DecisionTreeRegressor:  0.2390134529147982
DecisionTreeClassifier:  0.23318385650224216
SVC:  0.3632286995515695
KNeighborsClassifier:  0.28699551569506726

Jak widać dwie pierwsze metody popełnaiją najmniejszy błąd. Dalsze testy przeprowadze dla DecisionTreeClassifier.

### Wykonanie na pliku testowym
12. Sprawdzenie dla danych testowych. W tym celu wysłam nowy plik i go konfiguruje aby można było wykonać test 

(analogicznie jak pliki dla modelu treningowego).

In [69]:
from google.colab import files
uploaded = files.upload()
titanic_test = io.BytesIO(uploaded['titanic_test.csv']) #lokalizacja pliku
test = pd.read_csv(titanic_test)                      #wczytanie zmeinnej do pliku
test.head()

Saving titanic_test.csv to titanic_test (5).csv

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [117]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [118]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   12.634534    0.896760    0.981429   55.840500
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   30.272590    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [119]:
test["Age"].fillna(test.Age.mean(), inplace=True)
test["Fare"].fillna(test.Fare.mean(), inplace=True)
test["Embarked"].fillna("S", inplace=True)
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [120]:
x_test = test[['Pclass', 'Sex', 'Age', 'Fare', 'Embarked', 'Parch', 'SibSp']]

x_test['Sex'] = x_test['Sex'].replace('male', 1)
x_test['Sex'] = x_test['Sex'].replace('female', 0)
x_test['Embarked'] = x_test['Embarked'].replace('Q', 2)
x_test['Embarked'] = x_test['Embarked'].replace('C', 1)
x_test['Embarked'] = x_test['Embarked'].replace('S', 0)
x_test.head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   Pclass  Sex   Age     Fare  Embarked  Parch  SibSp
0       3    1  34.5   7.8292         2      0      0
1       3    0  47.0   7.0000         0      0      1
2       2    1  62.0   9.6875         2      0      0
3       3    1  27.0   8.6625         0      0      0
4       3    0  22.0  12.2875         0      1      1

## Przewidywanie kto przeżyje 
1. Stworzenie przewidywania
2.tworzenie zbioru pasażer - wynik, w formacie pozwalającym eksport do CSV
3. Export do CSV

In [123]:
result = titanic_model_tree_classifier.predict(x_test)

In [124]:
lista = pd.DataFrame({'PassengerId': test['PassengerId'], 'Survived': result})

In [126]:
lista.to_csv('results.csv', index = False)

W konkursie otrzymałem wynik na poziomie 0.72488, co oceniam za naprawdę dobry wynik, zważywszy na fakt, że moje doświadczenie sprowadza się do zadań zrobionych w trakcie tego laboratorium.